{% extends('@geekco_cms/base.html.twig') %}

{% import "@geekco_cms/macros.html.twig" as macros %}

{% block body %}

	<div class="container">
		<div class="row">

			<h1 class="center-align ">Liste des administrateurs</h1>
			<table class="responsive-table">
				<thead>
					<tr>
						<th>Identifiant</th>
						<th>Email</th>
						<th>Activé</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>
					{% for e in admins %}					
						<tr>
							<td>{{e.username}}</td>
							<td>{{e.email}}</td>
							<td>
                                {{macros.switch_field(e.isActive, "Geekco\\CmsBundle\\Entity\\User", e.id, "setIsActive")}}	
							</td>
							<td> 
                                {{macros.edit_icon(path('geekco_cms_administrateur_update', {'id': e.id}), 'Modifier le profil')}}
                                {{ macros.delete_icon('Geekco\\CmsBundle\\Entity\\User', e.id, 'Supprimer le membre') }}
							</td>
						</tr>
					{% endfor %}

				</tbody>
			</table>
            
            {{ macros.new_icon(path('geekco_cms_administrateur_new'), 'Nouvel admin') }}

		</div>
	</div>

{% endblock %}
