{% import "@GeekcoCms/macros.html.twig" as macros %}
{% form_theme form '@GeekcoCms/form.html.twig' %}

    <div class="section">
        {{form_start(form)}}

        <h2 class="pt-1">Le module</h2>

        {% if module is not defined %}
            <div class="input-field">
                {{form_row(form.name)}}
            </div>
        {% endif %}

        <div class="input-field">
            {{form_row(form.label)}}
        </div>

        <div class="input-field">
            {{form_row(form.pathThemeRelative)}}
        </div>

        <p>
        {{form_row(form.onlyOne)}}
        </p>

        <h2>String Resources</h2>

        {% set prototype = form_row(form.resource.stringResources.vars.prototype)%}
        <div class="collection-container" id="collection-container-{{form.vars.id}}" data-collection-deletable="true" data-prototype='{{prototype}}' data-add-label="string resource">
            {% for f in form.resource.stringResources  %}
                <div class="item-collection p-1 {{loop.index is even ? 'grey lighten-5'}}">
                    <div class="input-field">
                        {{form_row(f.label)}}
                    </div>

                    <div class="input-field">
                        {{form_row(f.constraints)}}
                    </div>
                    <br>

                    <div class="input-field">
                        {{form_row(f.value)}}
                    </div>
                </div>
            {% endfor %}

            {{macros.add_collection_button("string resource")}}
        </div>

        <div class="fixed-action-btn">
            <button class="btn-floating btn-large waves-effect waves-light light-green accent-2" type="submit"><i class="black-text text-lighten-1 material-icons">check</i></button>
        </div>

        {{form_end(form)}}
    </div>

