{% extends "@GeekcoCms/base.html.twig" %}

{% block body %}
    {% import "@GeekcoCms/macros.html.twig" as macros %}
    {% form_theme form '@GeekcoCms/menu/menu_item_theme.html.twig' "@GeekcoCms/form.html.twig" %}

        {% set menu = app.request.attributes.get('menu')  %}

        <div class="section">
            <div class="row">

                <div class="col s12 m6 l6 offset-l1">
                        <h1 class="">{{menu.label}}</h1>

                        <div class="">
                            {{form_start(form)}}
                            <div class="collection-container sortable-container" data-prototype='<div class="item-collection ai-c d-f">{{ form_widget(form.items.vars.prototype)|e('html_attr') }}</div>' data-collection-sf=true>
                                {{form_row(form.items)}}
                                {{macros.add_collection_button("page")}}
                            </div>


                            {{macros.submit_button()}}
                            {{form_end(form)}}
                        </div>

                </div>

                <div class="col s12 m6 l5">
                    <div class="card-panel">
                        <h4>
                            Liste  des pages
                        </h4>
                        <ul class="section table-of-contents">
                            {% for p in pages  %}
                                <li><a class="{{path('geekco_cms_page_update', {'id': p.id}) == app.request.pathInfo ? 'active'}}" href="{{path('geekco_cms_page_update', {'id': p.id})}}">{{p.name|capitalize}}</a>   <span class="badge new" data-badge-caption="">
                                        {% set count = p.modules|length %}
                                        {% transchoice count %}
                                        {0} Aucun module|{1} 1 module|]1,Inf[ %count% modules
                                        {% endtranschoice %}


                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
