<nav class="grey lighten-4">
    <div class="nav-wrapper">
        <a href="{{path('geekco_cms_admin')}}" class="ml-1 brand-logo show-on-large hide-on-med-and-down" style="">Admin</a>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right">
            <li>
                <a class='' target="_blank" href='{{page is defined and page is not null ? path('geekco_cms_index', {'slug': page.slug}) : path('geekco_cms_index')}}'{# data-alignment="right" data-beloworigin="true" data-constrainwidth="false" data-activates='dropdown_nav'<]>[><i class="material-icons">more_vert</i>#} >voir le site</a>
            </li>
        </ul>
    </div>
</nav>

<ul id="slide-out" class="side-nav fixed">
    <li><div class="user-view">
            <div class="background blue-grey darken-4">
            </div>
              
            {{source('@GeekcoCms/svg/man.svg')}}
            <span class="white-text name">{{app.user.username}}</span>
            <span class="white-text email">{{app.user.email}}<a class='dropdown-button white-text' href='#' data-alignment="right" data-beloworigin="true" data-constrainwidth="false" data-activates='dropdown1'><i class="material-icons">arrow_drop_down</i></a></span>

            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="{{path('geekco_cms_administrateur_update', {'id': app.user.id})}}">mon compte</a></li>
                <li><a href="{{path('logout')}}">se déconnecter</a></li>
            </ul>

        </div>
    </li>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <li><a href="{{path('geekco_cms_modulebase_list')}}"><i class="material-icons">settings</i>Modules de base</a></li>
    {% endif %}
    <li><a href="{{path('geekco_cms_page_list')}}"><i class="material-icons">pages</i>Pages</a></li>
    <li><a href="{{path('geekco_cms_administrateur_list')}}"><i class="material-icons">security</i>Administrateurs</a></li>
    {#<li><a href="https://stats.geekco.fr" target="blank"><i class="material-icons">network_check</i> Statistiques de visite</a></li>#}
</ul>
